td{
    text-align: right;
    font-weight: bold;
}
th{
    text-align: left;
    font-weight: normal;
    text-transform: capitalize;
}
.hidden{
    display: none;
}
#productImage{
    height: 23px;
    width: 23px;
    object-fit:contain ;
}